<h1>Create Product</h1>

<form [formGroup]="productDataForm" (submit)="handleSubmit()">
  <label>
    Name
    <input type="text" formControlName="name" />
    {{
      productDataForm.controls["name"].touched &&
      productDataForm.controls["name"].hasError("required")
        ? "Ce champ est requis"
        : ""
    }}
  </label>
  <label>
    Description
    <input type="text" formControlName="description" />
  </label>
  <label>
    Image URL
    <input type="text" formControlName="image" />
  </label>
  <label>
    Price
    <input type="number" formControlName="price" />
  </label>

  <button type="submit" [disabled]="productDataForm.invalid">Create</button>
</form>
